* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* ==================== PARA EL HEADER ======================= */
a{
    text-decoration: none;
    color: currentColor;
}

a:hover{
    color: currentColor;
}

header{
    width: 100vw;
    height: 100px;
    background-color: #7a0ff8;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}

header .container-fluid{
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navb-items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .item{
    text-align: center;
    margin-inline: 3%;
    font-size: 20px;
    letter-spacing: 3px;
    color: #fefefe;
    padding: 5px 0;
    transition: all .1s ease;
    border-top: 0px solid #fefefe;
    cursor: pointer;
}

header .item:hover{
    border-bottom: 3px solid #fefefe;
    border-top: 3px solid #fefefe;
}

header .item-button{
    display: flex;
    flex-direction: row;
}

/* modal  */
.modal-dialog-header{
    margin: 0;
    width: 430px;
}

@media(max-width: 450px){
    .modal-dialog-header{
        width: 82px;
    }
}

.modal-content-header{
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #33076e;
}

.modal-header-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #fefefe;
}

.modal-header-header img{
    width: 140px;
    height: 66px;
    margin-top: 17.5px;
}

.modal-header-header .btn-close{
    background: transparent;
    opacity: 1;
}

.modal-header-header i{
    color: #fefefe;
    font-size: 30px;
}

.modal-body-header{
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}

.modal-body-header .modal-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    color: #fefefe;
    border-bottom: 1px solid #fefefe;
}

.modal-body-header .modal-line:hover{
    color: #7a0ff8;
    border-bottom: 1px solid #7a0ff8;
}

.modal-line a{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #fefefe;
}

.modal-line i{
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

.navb-button{
    margin: 8px 0;
}

.mobile-modal-footer{
    width: 87%;
    margin: 0 auto;
    padding: 28% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: #fefefe;
}

.mobile-modal-footer i:hover{
    color: #7a0ff8;
}

@media screen and (max-width: 1279px) {
    .navb-items{
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .modal-dialog-header{
        margin: 0;
        width: 90%;
    }
}

.container__button__menu a {
    width: 165px;
    font-size: 10px;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
}

.container__button__menu a i {
    margin-right: 3%;
}

.container__button__menu .button__One__menu {
    background-color: #ffffff;
    color: #5410a2;
}

.notification {
    width: 1%;
    color: #fff;
    display: flex;
    justify-content: center;
}

.notification i {
    font-size: 30px;
    cursor: pointer;
}
/* ==================== FOOTER ===================== */


.text-footer p {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    margin-top: 5px;
}


.marcasIMG {
    text-align: center;
}

.marcasIMG img {
    text-align: center;
    height: 60px;
    width: auto;
    margin: 1px;
    /* Ajusta el margen entre las imágenes según sea necesario */
}

.marcasIMG .img1:hover,
.marcasIMG .img2:hover,
.marcasIMG .img3:hover,
.marcasIMG .img4:hover {
    transform: scale(1.02);
}

@media (max-width: 768px) {

    .marca p {
        padding-left: 10px;
        font-size: 15px;
        text-align: center;
    }

    .marcasIMG img {
        text-align: center;
        height: 42px;
        width: auto;
        margin: 1px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        /* Ajusta el relleno según sea necesario */
    }

    .card {
        background-color: #7c19ed;
        border-radius: 7px;
        padding: 10px 10px;
        text-align: center;
        width: 100%;
        /* Ajusta el ancho según sea necesario */
        margin: 10px;
        /* Ajusta el margen según sea necesario */
        max-width: 300px;
        /* Establece un ancho máximo para evitar que las tarjetas se vuelvan demasiado grandes en pantallas más pequeñas */
        height: 100%;
    }

    .card h2 {
        margin-top: 5px;
    }

    .footer p {
        color: #ffffff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 9px;
        margin-top: 5px;
    }
}


@media screen and (max-width: 1024px) {
    .footer {
        position: relative;
        /* Cambia a posición relativa solo en responsive */
    }
}

@media screen and (max-width: 768px) {
    .reloj .fecha {
        font-size: 15px;
    }
}

/* RELOJ */

p {
    margin: 0;
    padding: 0;
}

.reloj {
    color: #ffffff;
    background: #7c19ed;
    text-align: left;
    padding: 20px 20px;
}

.fecha {
    font-size: 18px;
}

.tiempo {
    font-size: 24px;
}



/* ============= DASHBORD DE CLIENTES ========== */
.title__info {
    margin-left: 5%;
    font-size: 25px;
    color: #5410a2;
}

.title__info i {
    margin-right: 1%;
}

.info {
    margin-top: 1%;
    margin-left: 12%;
    font-size: 20px;
}

.wrap-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
    white-space: pre-wrap; /* Asegura que el texto se envuelva y preserve los saltos de línea */
}

.wrap-text p {
    margin-bottom: -50px; /* Ajusta este valor según sea necesario para reducir el espacio entre párrafos */
}

.clr-fac, .clr-fac:hover, .clr-fac:active {
    background-color: #5410a2;
    border-color: #5410a2;
}

.clr-con, .clr-con:hover, .clr-con:active {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
}

.clr-cre, .clr-cre:hover, .clr-cre:active {
    background-color: #106da2;
    border-color: #106da2;
}

.clr-pa, .clr-pa:hover, .clr-pa:active {
    background-color: #00b807;
    border-color: #00b807;
}

.clr-so, .clr-so:hover, .clr-so:active {
    background-color: #ff0000;
    border-color: #ff0000;
}

/* ======================================= TABLAS ===================================== */

.container-table {
    width: 90%;
    max-height: 600px;
    overflow: auto;
}

.encabezadoEstatico{
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-factura{
    border: #7030a0;
}

.table-factura tr th {
    background-color: #7030a0 !important;
    color: #fefefe;
}

.download-button {
    border-color: #00476D;
    background-color: rgb(0,72,110);
}

.download-button:hover{
    background-color: rgba(0,72,110,0.8);
    border-color: rgba(0,72,110,0.8);
}

.table-contrato{
    border: #4a4a4a;
}

.table-contrato tr th {
    background-color: #4a4a4a !important;
    color: #fefefe;
}

.table-credenciales{
    border: #106da2;
}

.table-credenciales tr th {
    background-color: #106da2 !important;
    color: #fff;
}

.table-reporte{
    border: #00b807;
    text-align: center;
}

.table-reporte tr th {
    background-color: #00b807 !important;
    color: #fff;
}


