* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: currentColor;
}

a:hover{
    color: currentColor;
}

header{
    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}

header .container-fluid{
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navb-logo img{
    width: 250px;
    height: 66px;
}

header .navb-items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .item{
    text-align: center;
    margin-inline: 3%;
    font-size: 12px;
    letter-spacing: 3px;
    color: #7a0ff8;
    padding: 5px 0;
    transition: all .1s ease;
    border-top: 0px solid #7a0ff8;
    cursor: pointer;
}

header .item:hover{
    border-bottom: 3px solid #7a0ff8;
    border-top: 3px solid #7a0ff8;
}

header .item-button{
    display: flex;
    flex-direction: row;
}

/* modal  */
.modal-dialog-header{
    margin: 0;
    width: 430px;
}

@media(max-width: 450px){
    .modal-dialog-header{
        width: 82px;
    }
}

.modal-content-header{
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #33076e;
}

.modal-header-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #fefefe;
}

.modal-header-header img{
    width: 140px;
    height: 66px;
    margin-top: 17.5px;
}

.modal-header-header .btn-close{
    background: transparent;
    opacity: 1;
}

.modal-header-header i{
    color: #fefefe;
    font-size: 30px;
}

.modal-body-header{
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}

.modal-body-header .modal-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    color: #fefefe;
    border-bottom: 1px solid #fefefe;
}

.modal-body-header .modal-line:hover{
    color: #7a0ff8;
    border-bottom: 1px solid #7a0ff8;
}

.modal-line a{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #fefefe;
}

.modal-line i{
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

.navb-button{
    margin: 8px 0;
}

.mobile-modal-footer{
    width: 87%;
    margin: 0 auto;
    padding: 28% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: #fefefe;
}

.mobile-modal-footer i:hover{
    color: #7a0ff8;
}

@media screen and (max-width: 1279px) {
    .navb-items{
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .modal-dialog-header{
        margin: 0;
        width: 90%;
    }
}

/* ==================== PARA LOS BUTTONS DE HEADER ======================= */
.button__One {
    font-size: 10px;
    background-color: #eae5fe;
    border-color: #eae5fe;
    color: #7a0ff8;
}

.button__Two {
    font-size: 10px;
    background-color: #7a0ff8;
    border-color: #7a0ff8;
    color: #eae5fe;
}

.button__One, .button__One:hover, .button__One:active {
    background-color: #eae5fe;
    border-color: #eae5fe;
    color: #7a0ff8;
}

.button__Two, .button__Two:hover, .button__Two:active {
    background-color: #7a0ff8;
    border-color: #7a0ff8;
    color: #eae5fe;
}

/* ==================== FOOTER ===================== */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #33076e;
    color: #fff;
    text-align: center;
}

.footer p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11px;
    margin-top: 5px;
}

.footerLinks img {
    text-align: center;
    margin-top: 1px;
    height: 100%;
    width: 300px;
}

@media (max-width: 768px) {

    .marca p {
        padding-left: 10px;
        font-size: 15px;
        text-align: center;
    }

    .marcasIMG img {
        text-align: center;
        height: 42px;
        width: auto;
        margin: 1px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        /* Ajusta el relleno según sea necesario */
    }

    .card {
        background-color: #7c19ed;
        border-radius: 7px;
        padding: 10px 10px;
        text-align: center;
        width: 100%;
        /* Ajusta el ancho según sea necesario */
        margin: 10px;
        /* Ajusta el margen según sea necesario */
        max-width: 300px;
        /* Establece un ancho máximo para evitar que las tarjetas se vuelvan demasiado grandes en pantallas más pequeñas */
        height: 100%;
    }

    .card h2 {
        margin-top: 5px;
    }

    .footer p {
        color: #ffffff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 9px;
        margin-top: 5px;
    }
}


@media screen and (max-width: 1024px) {
    .footer {
        position: relative;
        /* Cambia a posición relativa solo en responsive */
    }
}

@media screen and (max-width: 768px) {
    .reloj .fecha {
        font-size: 15px;
    }
}

/* RELOJ */

p {
    margin: 0;
    padding: 0;
}

.reloj {
    color: #ffffff;
    background: #7c19ed;
    text-align: left;
    padding: 20px 20px;
}

.fecha {
    font-size: 18px;
}

.tiempo {
    font-size: 24px;
}


/* ============================= LOGIN CLIENTE Y ADMINISTRADOR ======================== */
.card-login-cliente {
    width: 100%;
    max-width: 600px;
    background-color: #eee7ff;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 20px;
}

.link-acceso a {
    color: #7c19ed;
    text-decoration: none;
}

.link-acceso a:hover {
    text-decoration: underline;
}

.input-group .btn {
    border: none;
    background: transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn-login {
    background-color: #5410a2;
    border: #33076e;
}

.btn-login:hover {
    background-color: #33076e;
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.4);
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
    color: #5410a2;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    border: 1px solid #5410a2;
    border-radius: 4px;
}

.admin-login {
    width: 100%;
    background: #5410a2;
    padding: 10px;
}

.admin-login a {
    color: #ffffff;
    text-decoration: none;
}

.admin-login {
    text-align: center;
}

.admin-login a:hover {
    text-decoration: underline;
}

/* Estilos específicos para pantallas grandes (PC) */
@media only screen and (min-width: 769px) {
    #mensajeMovil {
        display: none;
        /*OCULTO*/
    }

    .container-administrador {
        display: block;
    }
}

/* ============================================= MENU PRINCIPAL (INDEX) ======================*/
/* PARA LOS SERVICIOS */
.service-title {
    background-color: #7c19ed;
    color: #f9fcfc;
}

.service-title h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
}

.card {
    background-color: #7c19ed;
    border-radius: 7px;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 80%;
    color: #ffffff;
    height: auto;
    width: 100%;
    margin-top: 10px;
}

.card p {
    background: salmon;
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    align-self: start;
    font-size: 80%;
    color: #ffffff;
    margin-top: 20px;
}

.card img {
    height: 70px;
    max-width: 100%;
    width: 70px;
}

.card svg {
    height: 70px;
    max-width: 100%;
    width: 70px;
}

.marca {
    background-color: #f3f2ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    color: #7c19ed;
}

.marcasIMG {
    text-align: center;
}

.marcasIMG img {
    text-align: center;
    height: 60px;
    width: auto;
    margin: 10px;
}

.marcasIMG img:hover {
    transform: scale(1.02);
    cursor: pointer;
}


/* ======= POR QUE ELEGIRNOS ============== */

.container__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: none;
}

.container__card span.num {
    color: #7a0ff8;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

.container__card span.text {
    color: #7a0ff8;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .container__card {
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .container__card {
        width: calc(50% - 40px);
        height: 30vmin;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .container__card {
        width: 42%;
        height: 25vmin;
        font-size: 8px;
    }
}

/* ========================= SLIDER ======================== */
.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.slide-track{
    display: flex;
    width: calc(250px * 10);/* Slide track width = total number of slides (5x2=10) x individual slide width (250px)*/
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 5));
    }
}

.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide img{
    width: 100%;
    transition: transform 1s;
}

.slide img:hover{
    transform: translateZ(20px);
    cursor: pointer;
}

/* Gradient shadows */
.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}