* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container__nav__menu {
    width: 100%;
    padding: 10px 0px;
    background-color: #5410a2;
    display: flex;
    flex-direction: row;
}

.container__nav__menu h1 {
    color: #fff;
    margin: 20px;
    font-size: 15px;
    padding-left: 30px;
}

.container__logo__menu {
    width: 35%;
    margin-left: 20px;
}

.container__logo__menu img {
    width: 100%;
    height: 100%;
}

.welcome {
    width: 30%;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.welcome p {
    margin-top: 15px;
    margin-left: 10px;
}

.menu__hamburguesa,
.container__closed {
    display: none;
}

.container__general {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.container__list__menu {
    width: 65%;
    margin-left: 15%;
}

.list__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.list__link__menu {
    padding: 15px;
    text-align: center;
    align-items: center;
}

.list__link__menu i {
    font-size: 20px;
    margin-top: -10px;
}

.list__link__menu a {
    font-size: 13px;
    font-weight: bold;
    padding: 15px 5px;
    color: #ffffff;
}

.container__button__menu {
    width: 12%;
    display: block;
    right: 0;
}

.container__button__menu button {
    width: 165px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.container__button__menu button i {
    margin-right: 3%;
}

.container__button__menu .button__One__menu {
    background-color: #ffffff;
    color: #5410a2;
}

.notification {
    width: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.notification i {
    font-size: 40px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .container__nav__menu {
        width: 100%;
        height: 62px;
    }

    .container__logo__menu {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .container__logo__menu img {
        width: 100%;
        height: 100%;
    }

    .welcome {
        width: 70%;
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
    }

    .welcome p {
        margin-top: 4px;
        margin-left: 10px;
    }

    .menu__hamburguesa {
        padding: 5px;
        display: block;
        color: #ffffff;
        right: 0;
        margin-left: 10%;
        font-size: 18px;
        cursor: pointer;
    }

    .container__closed {
        width: 10%;
        position: absolute;
        right: 0;
        font-size: 20px;
        display: block;
        margin: 5%;
        color: #ffffff;
    }

    .menu__hamburguesa i {
        margin-left: 2%;
    }

    .container__general {
        opacity: 0;
        visibility: hidden;

        width: 70%;
        height: calc(75.5vh - 10px);
        background-color: #5410a2;
        position: absolute;
        top: 26%;
        transition: all 1s;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        border-radius: 0 5% 5% 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .container__general.visible {
        opacity: 1;
        visibility: visible;
    }

    body.no-scroll {
        overflow: hidden;
    }

    .container__list__menu {
        width: 65%;
        margin-left: 15%;
    }

    .list__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .list__link__menu {
        width: 150px;
        padding: 25px 18px;
        text-align: left;
        align-items: center;
        margin-left: -14%;
    }

    .list__link__menu a {
        font-size: 13px;
        font-weight: bold;
        padding: 15px 5px;
        color: #ffffff;
    }

    .container__button__menu {
        width: 60%;
        margin-left: 14%;
        display: block;
        right: 0;
    }

    .container__button__menu button {
        width: 165px;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
        border: none;
        background: none;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

}


@media (min-width: 441px) and (max-width: 1200px) {
    .container__logo__menu {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .container__general {
        opacity: 0;
        visibility: hidden;

        width: 60%;
        height: calc(74vh - 10px);
        background-color: #5410a2;
        position: absolute;
        top: 28%;
        transition: all 1s;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        border-radius: 0 5% 5% 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1;
    }
}


/* RELOJ */

p {
    margin: 0;
    padding: 0;
}

.reloj {
    color: #ffffff;
    background: #7c19ed;
    text-align: left;
    padding: 20px 20px;
}

.fecha {
    font-size: 18px;
}

.tiempo {
    font-size: 24px;
}


@media screen and (max-width: 768px) {
    .reloj .fecha {
        font-size: 15px;
    }
}

/* ===================== footer ====================== */

.footer {
    background-color: #33076e;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer p {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11px;
    margin-top: 5px;
}

.footerLinks img {
    text-align: center;
    margin-top: 1px;
    height: 100%;
    width: 300px;
}

@media (max-width: 768px) {
    .footer p {
        color: #ffffff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 0.6em;
        margin-top: 10px;
    }
}

/* =================== CONTENIDO ======================== */


.container__picture {
    max-width: 1500px;
    width: 1200px;
    min-height: 300px;
    height: 100%;
    margin: 9% auto 9% auto;
    display: flex;
    flex-direction: row;
}

.picture {
    max-width: 600px;
    width: 300px;
    max-height: 180px;
    height: 170px;
    background-color: #5410a2;
    margin: auto 15px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    justify-content: center;
    display: block;
}

.picture a{
    display: block;
    padding: 39px 0px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
}


.picture a span {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
}

.picture a img {
    max-width: 60px;
    width: 80%;
    margin: auto 0;
}

.picture:hover {
    transform: scale(1.05);
}

/* ================ PARA EL MENU DE GENERAL__SECUNDARIO ============== */
.general__secundario {
    width: 60%;
    margin-left: 5%;
}

.container__list__menu {
    width: 78%;
    margin-left: 1%;
}

.list__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.list__link__menu {
    padding: 15px;
    text-align: center;
    align-items: center;
}

.list__link__menu a {
    font-size: 13px;
    font-weight: bold;
    padding: 15px 5px;
    color: #ffffff;
}

/* ============= CONTAINER CLIENTES ============ */

.container__clientes {
    max-width: 100%;
    width: 1400px;
    min-height: 300px;
    margin: 4% auto 4% auto;
}

.container__title {
    width: 450px;
    padding: 20px;
}

.container__title span {
    font-weight: bold;
    margin-right: 10%;
    font-size: 20px;
}

.container__title button {
    width: 140px;
    font-size: 15px;
    padding: 8px 0;
    border: none;
    background-color: #7a0ff8;
    color: #ffffff;
    border-radius: 10px;
}

.container__title i {
    margin-right: 5%;
}


/* ================= TABLA DE CLIENTE ============ */
.container__tabla__cliente{
    width: 100%;
    max-height: 600px;
    overflow: auto;
}


.tabla__cliente {
    margin-left: 5%;
    width: 94%;
    border-spacing: 0;
}

.cabezado__cliente tr th {
    margin: 0px;
    border: 1px solid #fff;
    padding: 5px;
    background-color: #7a0ff8;
    color: #fff;
}

.cuerpo__cliente tr td {
    border: 1px solid #7a0ff8;
    padding: 8px;
}

.fila__secundaria__four .button__administrar {
    background-color: #7a0ff8;
    padding: 6px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    margin-left: 16%;
    cursor: pointer;
}

/* ======================= HISTORIAL ============ */
.cuerpo__general4,
.cuerpo__general5 {
    max-width: 100%;
    height: 100%;
    margin: 20px auto 20px auto;
    overflow: auto;
}

.historial__button {
    width: 200px;
    float: right;
}

.tabla__historial {
    margin-left: 5%;
    width: 94%;
    border-spacing: 0;
    font-size: 15px;
}

.encabezadoEstatico{
    position: sticky;
    top: 0;
    z-index: 1;
}

.cabezado__historial tr th {
    margin: 0px;
    border: 1px solid #000000;
    background-color: #7030a0;
    color: #ffffff;
    padding: 10px 10px;
}

.cuerpo__historial tr td {
    border: 1px solid #000000;
    padding: 8px;
}

.fila__secundaria__four a {
    background-color: #7a0ff8;
    padding: 6px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 10px;
    margin-left: 16%;
}


/* ================== SERVICIOS ================ */

.container__servicios {
    width: 750px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.container__servicios span {
    font-weight: bold;
    margin-right: 10%;
    font-size: 20px;
}

.container__servicios button {
    width: 180px;
    font-size: 15px;
    padding: 8px 0;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    margin-right: 2%;
    cursor: pointer;
}

.container__servicios i {
    margin-right: 5%;
}

.add__servicios {
    background-color: #7a0ff8;
}

.edit__servicios {
    background-color: #039900;
}

.delete__servicios {
    background-color: #ff0000;
}


/* ==================== CONTAINER GENERAL ==================== */
.cabezado__desplegar {
    width: 100%;
    background-color: #5410a2;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.cabezado__desplegar i {
    padding: 0 20px;
    font-size: 30px;
}

.menu__desplegable {
    padding: 5px 0px;
    font-size: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
}

.menu__desplegable span {
    margin: 0 8px;
    cursor: pointer;
    display: block;
    padding: 15px 10px;
    font-size: 8px;
}

/* ============== PARA QUE SE SELECCIONE =========== */
.menu__desplegable span:hover,
.menu__desplegable span.clicked {
    color: #7a0ff8;
}


.menu__desplegable span i {
    margin: 0 8px;
}


/* ===================== DATOS GENERALES ================== */
.datos__generales {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 4%;
}

.general__info {
    width: 100%;
}

.title__general {
    margin-left: 5%;
    font-size: 25px;
    color: #5410a2;
}

.title__general i {
    margin-right: 1%;
}

.part__general {
    margin-top: 2%;
    margin-left: 12%;
    font-size: 20px;
}


.button__general {
    width: 100%;
    padding: 15px 0px;
    ;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eliminar {
    width: 50px;
    height: 50px;
    background-color: #ff0000;
    text-align: center;
    padding-top: 14px;
    border-radius: 60px;
    font-size: 20px;
    color: #ffffff;
    margin-left: 3%;
    cursor: pointer;
}

.button__general button {
    width: 160px;
    height: 50px;
    margin-left: 5%;
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.button__general button i {
    margin-right: 5%;
}

.general__facturas {
    background-color: #33076e;
}

.general__contrato {
    background-color: #4a4a4a;
}

.general__credenciales {
    background-color: #106da2;
}

/* ============ RESTABLECER CONTRASEÑA ==================== */
.title__contrasenia {
    width: 96%;
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
    background-color: #5410a2;
    color: #ffffff;
    padding: 15px 10px;
    font-size: 12px;
    border-radius: 10px;
}


.title__contrasenia i {
    margin-right: 2%;
    font-size: 40px;
}

.container__checkbox {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-size: 15px;
}

.container__checkbox .check {
    width: 25px;
    height: 25px;
    margin: 10px 10px 10px 0px;
}

.check:checked+label {
    background-color: #5410a2;
    color: #ffffff;
}

.one__contrasenia,
.two__contrasenia {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px 0px 10px 15px;
    border: 1px solid #7a0ff8;
}

.two__contrasenia {
    background-color: #d0d0d0;
}

.button__contrasenia {
    width: 300px;
    background-color: #5410a2;
    padding: 15px 0px;
    margin: 20px 0px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
}

.button__contrasenia i {
    padding-right: 10px;
}

/* ========================= CONTAINER DESPLEGAR ============== */
.container__desplegar {
    width: 800px;
    height: 100vh;
    position: fixed;
    top: 0;
    float: right;
    right: 0;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    overflow: hidden;
    display: none;
    z-index: 20;
    -webkit-animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.container__desplegar.cerrado {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.closed {
    cursor: pointer;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-7 0:37:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-right {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
}

@keyframes scale-up-right {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-3-7 0:44:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    }
}

.cuerpo__general2,
.cuerpo__general3,
.cuerpo__general4,
.cuerpo__general5,
.cuerpo__general6 {
    display: none;
    height: 79vh;
}


/* ================== EDITAR PERFIL =================== */

.title__Edit__Perfil {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    background-color: #464646;
    color: #ffffff;
    padding: 15px 10px;
    font-size: 12px;
}

.title__Edit__Perfil p {
    width: 600px;
    font-size: 25px;
    margin-left: 3%;
    margin-top: 1%;
}

.title__Edit__Perfil i {
    position: relative;
    align-items: end;
    font-size: 40px;
}

.container__edit {
    width: 100%;
}

.edit {
    padding: 9px 0px 9px 45px;
    font-size: 16px;
    color: #181818;
}

.edit label,
.edit input,
.edit select {
    margin-right: 2%;
    height: 30px;
    border-radius: 5px;
}

.edit input,
.edit select {
    border: 1px solid #464646;
}

.fila__one select {
    width: 140px;
}

.fila__one input {
    width: 200px;
}

.fila__two input {
    width: 210px;
}

.three__telefono {
    width: 100px;
}

.three__correo {
    width: 265px;
}

.four__cargo {
    width: 230px;
}

.four__servicios {
    width: 163px;
}

.five__ciclo {
    width: 140px;
}

.five__fecha {
    width: 217px;
}

.six__generar {
    width: 140px;
}

/* ========== Los botones de Editar Perfil =============== */
.edit button {
    width: 120px;
    height: 30px;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.edit button i {
    margin-right: 3%;
}

.validar {
    background-color: #464646;
}

.edit__button {
    width: 320px;
    float: right;
    margin-right: 20px;
}

.cancelar {
    background-color: #bf1f1f;
    margin-right: 5%;
}

.salvar {
    background-color: #464646;
}

/* ================== PARA MANTENER EL INDICE DEL MENU =========== */


/* ======================= CONTAINER SOMBREADO =================== */

.container__sombreado {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    overflow-y: auto;
    align-items: center;
    position: fixed;
    display: none;
    z-index: 20;
}

/* ====================== CONTAINER REGISTRAR =================== */

.title__registrar {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.container__registrar {
    width: 700px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.container__registrar .edit__button {
    width: 700px;
    margin-right: 0px;
    background-color: #ffffff;
}

.container__registrar .edit {
    padding: 10px 10px;
    font-size: 13px;
}

.container__registrar .button__registrar {
    width: 280px;
    float: right;
}


/* =================== NUEVA FACTURA ================ */
.container__registrar .dateMes {
    width: 120px;
}

.container__registrar .fechaEmi {
    width: 160px;
}

.container__registrar .archivoSelec {
    border: none;
}

/* ========================= AÑADIR ACCESOS =================== */

.container__registrar .linkAcc {
    width: 555px;
}

.container__registrar .labelOb {
    width: 100px;
}

.container__registrar .fechaCon {
    width: 150px;
}

.container__registrar .fechaReno {
    width: 225px;
}

.container__registrar .fila__five {
    display: flex;
    flex-direction: row;
}

.container__registrar .obserAcc {
    width: 280px;
    height: 60px;
    border-radius: 6px;
}

/* ========================= ACERCA DE LOS POPUP ================= */
.info__popUp {
    width: 500px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
}

.cabezado__popUp {
    padding: 20px 15px;
    background-color: #464646;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}

.cabezado__popUp .closed {
    font-size: 25px;
    float: right;
}

.cuerpo__info {
    width: 350px;
    height: 120px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.popUp__button {
    margin-top: 10px;
    padding: 20px 0px;
}

.popUp__button button {
    width: 120px;
    height: 30px;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.popUp__button .yes {
    background-color: #00c851;
}

.popUp__button .not {
    margin-left: 40px;
    background-color: #ff0000;
}

/* ============= DE REGISTRO Y MODIFICACIÓN ==================  */
.registrar__servicio .codUni {
    width: 150px;
}

.registrar__servicio .categoria {
    width: 330px;
}

.registrar__servicio .nombreProducto {
    width: 500px;
}

.registrar__servicio .fechaContratacion {
    width: 120px;
}

.registrar__servicio .fechaVencimiento {
    width: 210px;
}

.registrar__servicio .cargoPersona {
    width: 190px;
}

.registrar__servicio .proveedorContacto {
    width: 168px;
}

.registrar__servicio .title__registrar,
.registrar__servicio .salvarRegistrar {
    background-color: #7a0ff8;
}

.registrar__servicio input {
    border: 1px solid #7a0ff8;
}

.modificar__servicio .title__modificar,
.modificar__servicio .salvarModificar {
    background-color: #039900;
}

/* ================ Para el container Pop Up =================== */
.container__popUp {
    margin-top: 150px;
}

.cliente__button,
.closedCliente,
.closedAccesos,
.closedFactura,
.agregar__secundario,
.registrar__servicio .cerrar,
.modificar__servicio .cerrar {
    cursor: pointer;
}

/* =================== PARA LO DE LAS TABLAS DEL DIV =================== */
.segundo__historial {
    font-size: 10px;
}

/* ================== ACERCA DE AVISO ============= */

.container__logo__aviso {
    width: 26%;
    margin: 10px auto;
}

.container__logo__aviso img {
    width: 100%;
}

.portada__aviso {
    width: 17%;
    margin: 10px auto;
}

.portada__aviso img {
    width: 100%;
}

.container__text {
    width: 40%;
    margin: 10px auto;
    text-align: center;
    color: #7a0ff8;
    font-size: 20px;
}

.container__text p {
    margin-bottom: 10px;
}

.button__aviso {
    width: 10%;
    margin: 10px auto;
    padding: 20px 0px;
}

.button__aviso a {
    padding: 15px 15px;
    border-radius: 10px;
    background-color: #7a0ff8;
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .container__logo__aviso {
        width: 80%;
    }

    .portada__aviso {
        width: 80%;
    }

    .container__text {
        width: 80%;
        font-size: 13px;
    }

    .container__text p {
        margin-bottom: 10px;
    }

    .button__aviso {
        width: 55%;
        margin: 10px auto;
        padding: 20px 0px;
    }

}

/* ====================== NOTIFICACIÓN ============================= */


.container__notificacion {
    width: 800px;
    height: 100vh;
    position: fixed;
    top: 0;
    float: right;
    right: 0;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    overflow: auto;
    display: none;
    z-index: 20;
    -webkit-animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.container__notificacion.cerrado {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.cabezado__notificacion {
    background-color: #7a0ff8;
    font-size: 28px;
    color: #ffffff;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
}

.cabezado__notificacion span {
    width: 600px;
}

.cabezado__notificacion i {
    margin: 0px 20px;
    cursor: pointer;
}

.cuerpo__notificacion {
    display: flex;
    flex-direction: column;
}

.part__notificacion {
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    background-color: #eee7ff;
}

.part__notificacion i {
    padding: 15px 15px;
    font-size: 50px;
    color: #7a0ff8;
}

.text__info {
    font-size: 18px;
}

.closed {
    cursor: pointer;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-7 0:37:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-right {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
}

@keyframes scale-up-right {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2024-3-7 0:44:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    }
}

/* TABLA DE CREDENCIALES */
.part__button {
    width: 100%;
    height: 80px;
}

.part__button a {
    align-items: center;
    text-align: center;
    padding-top: 10px;
    height: 40px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.part__button button {
    align-items: center;
    text-align: center;
    padding-top: 0px;
    height: 50px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 100px;
}

.part__button button i {
    margin-right: 2%;
}

.part__button a i {
    margin-right: 2%;
}


.part__button .button__facturas:hover,
.part__button .button__contrato:hover,
.part__button .button__credenciales:hover,
.part__button .button__pago:hover,
.part__button .button__soporte:hover {
    transform: scale(1.05);
}

.button__facturas,
.button__contrato,
.button__credenciales {
    width: 25%;
    margin: 10px 4%;
}

.button__pago,
.button__soporte {
    width: 38%;
    margin: 0 5.5%;
    margin-top: -12%;
}

.button__facturas {
    background-color: #5410a2;
}

.button__contrato {
    background-color: #4a4a4a;
}

.button__credenciales {
    background-color: #106da2;
}

.button__pago {
    background-color: #00b807;
}

.button__soporte {
    background-color: #ff0000;
}

.tableCredenciales {
    background: #F0F0F0;
    border-collapse: collapse;
    width: 80%;
    height: 100%;
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin: 50px auto;
    /* Centra la tabla horizontalmente */
}

.tableCredenciales th, .tableCredenciales td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

}

.tableCredenciales th {
    background-color: #7030a0;
    font-weight: bold;
    color: white;
    text-align: center;
}


.imgCredenciales {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
}


.imgCredenciales img {
    height: 30px;
    width: 30px;
}

/* TABLA DE FACTURAS */
.tableFacturas {
    background: salmon;
    background: #F0F0F0;
    border-collapse: collapse;
    width: 80%;
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin: 50px auto; /* Centra la tabla horizontalmente */
}

.tableFacturas th, .tableFacturas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

}

.tableFacturas th {
    background-color: #7030a0;
    font-weight: bold;
    color:white;
    text-align: center;
}


.download-button {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
}


.download-button img{
    height:30px;
    width:30px;
}